<div id="<%= dom_id bill %>">
  <p>
    <strong>Name:</strong>
    <%= bill.name %>
  </p>

  <p>
    <strong>Date number:</strong>
    <%= bill.date_number %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= bill.amount %>
  </p>

  <p>
    <strong>Payment source:</strong>
    <%= bill.payment_source %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= bill.tags %>
  </p>

</div>
