<div id="<%= dom_id bill %>">
  <p class="has-text-centered title is-4">
    <%= bill.name %>
  </p>

  <p class="has-text-centered mt-2">
    <strong class="has-text-info"><%= bill.payment_source.name %></strong>
  </p>

  <p class="has-text-centered has-text-danger subtitle is-5">
    $<%= currencyDecorator(bill.amount)  %>
  </p>

  <p class="has-text-centered">
    <strong>Due on:</strong>
    <%= bill.date_number %>
  </p>
  

  <% unless bill.tags.empty? %>
    <p>
      <strong>Tags:</strong>
      <%= bill.tags %>
    </p>
  <% end %>


</div>
